body
{font-family:Noto Sans TC
,-apple-system
,BlinkMacSystemFont
,Segoe UI,Roboto
,Helvetica Neue
,sans-serif;
line-height:1.4
}

a{
	color:#3f51b5;text-decoration:none
}

/*滑鼠移置超連結時*/
a:hover
{
	color:#6f81e5;text-decoration:underline
}

#signin
{
	margin:14px
}

#wiki
{
	margin:0 12px 36px
}

#wiki a
{
	font-size:18px;
	margin-right:12px
}

.wiki-inner h2
{
	border-top:1px solid #ccc
}

.wiki-inner a
{
	margin-right:12px
}

.wiki-inner code
{
	color:#ff5722;
	font-size:18px
}

.wiki-inner li
{
	margin-bottom:6px
}

.wiki-inner
{
	line-height:1.6; /*行距*/
	margin:12px auto;
	max-width:600px;
	width:90%
}

.wiki-inner img,.wiki-inner picture
{
	height:160px;
	width:160px
}